
:root {
  --bg: #fbfbfb;
  --text: #101012;
  --logo: #d52522;
  --topbar: #f3c233;
}

body {
  margin: 0;
  background: var(--bg);
  font font-family: Jost, sans-serif;
  color: var(--text);
}

.lp-page {
  max-width: 1280px;
  margin: 0 auto;
  background: var(--bg);
}

.lp-topbar {
  height: 20px;
  background: var(--topbar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 16px;
}

.lp-topbar p {
  margin: 0;
}

.lp-header {
  background: var(--bg);
  border-bottom: 1px solid #ddd;
}


  .lp-header-rod {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
  }

  .lp-search {
    font-size: 13px;
    font-weight: 500;
  }

  .lp-logo {
    color: var(--logo);
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.92px;
  }

  .lp-menu {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .lp-menu a {
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .lp-menu a.sale {
    color: var(--logo);
  }

 .lp-hero {
  height: 652px;
  display: grid;
  place-items: center;
  background:
    linear-gradient(45deg, #e3e3e3 25%, transparent 25%),
    linear-gradient(-45deg, #e3e3e3 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e3e3e3 75%),
    linear-gradient(-45deg, transparent 75%, #e3e3e3 75%);
  background-size: 56px 56px;
  background-position: 0 0, 0 28px, 28px -28px, -28px 0px;
}

.lp-hero h1 {
  font-size: 56px;
  margin: 0;
}

/* New in section */

.new-in {
  display: grid;
  .grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.new-in-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background: #e8e8e8;
}

.new-in-card h3 {
  margin: 8px 0 0;
  font-size: 18px;
  text-transform: uppercase;
}

.new-in-info h2 {
  margin: 0;
  font-size: 48px;
  color: var(--logo);
}

.new-in-info button {
  margin-top: 12px;
  background: #4a2d1b;
  color: #fff;
  border: 0;
  border-radius: 12px;
  padding: 10px 22px;
  cursor: pointer;
}